.w {
  width: 1190px;
  margin:  auto;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
body {
  background-color: #F6F6F6;
}
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img {
  vertical-align: top;
}
 

.style-red {
  color: #f10215 !important;
}

 
.clearfix:before,.clearfix:after { 
  content:"";
  display: table;  /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}
.clearfix:after {
 clear:both;
}
.clearfix {
  *zoom:1;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?7kkyc2");
  src: url("../fonts/icomoon.eot?7kkyc2#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?7kkyc2") format("truetype"),
    url("../fonts/icomoon.woff?7kkyc2") format("woff"),
    url("../onts/icomoon.svg?7kkyc2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* 京东顶部 start */
.J_event {
  background-color: #000;
}

.J_event a {
  display: block;
  height: 80px;
  background: url(../images/top.jpg) no-repeat;
  position: relative;
}

.J_event a i {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 6px;
  right: 0;
  font-family: "icomoon";
  font-style: normal;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
/* 京东顶部 end */

/* 快捷导航栏 */
.shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #e3e4e5;
  border-bottom: 1px solid #DDDDDD;
  font-size: 12px;
}
.shortcut a {
  color: #9d9d9d;
  font-size: 12px;
  text-decoration: none;
}

.shortcut a:hover {
  color: #c81623;
}

.shortcut .fl li{
   margin-left: 200px;
   height: 30px;
   overflow: hidden;
}

.pos {
  font-family: "icomoon";
  font-style: normal;
  font-size: 14px;
  color: #f10215;
}

.shortcut .fr li {
  float: left;
  /* text-decoration: none; */
}

.spacer {
  width: 1px;
  height: 10px;
  background-color: #cccccc;
  margin: 10px 10px 0;
   
}

.dropdown {
  padding-right: 15px;
  position: relative;
}

.dropdown i {
  font-family: "icomoon";
  font-style: normal;
  font-size: 16px;
  position: absolute;
  right:-2px;
  top: -2px;
}

.erweima {
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	padding: 3px;
	position: absolute;
	left: -8px;
  top: 35px;
}

.header {
  height: 140px;
}

.inner {
  height: 140px;
  /* background-color:#F6F6F6; */
  position: relative;
}
.logo {
  width: 190px;
  height: 170px;
  position: absolute;
  background: url(../images/logo.jpg) no-repeat;
  left: 0;
  top: -30px;
  text-indent: -99999px;
  overflow: hidden;
}

.logo h1 {
  padding: 0;
  margin: 0;
}


.search {
  width: 550px;
  height: 35px;
  position: absolute;
  left: 320px;
  top: 25px;
  /* border: 1px solid #F10215; */
  /* background-color: skyblue; */
}

.search input {
  width: 493px;
  height: 33px;
  border: 1px solid #f10215;
  cursor: pointer;
  float: left;
}
.search em {
  position: absolute;
  right:65px;
  top: 10px;
  width: 26px;
  height: 19px;
  background: url(../images/sprite-search.png) no-repeat;
  cursor: pointer;
}

.search em:hover {
  background: url(../images/sprite-search.png) no-repeat -30px 0;
  cursor: pointer;
}

.search button {
  width: 50px;
  height: 35px;
  background-color:#f10215;
  float: left;
}

.search button i {
  font-family: "icomoon";
  width: 30px;
  height: 25px;
  font-style: normal;
  
}

.hotwords {
  width: 666px;
  height: 22px;
  position: absolute;
  top: 84px;
  left: 330px;
}

.hotwords a {
  display: block;
  float: left;
  padding-left: 11px;
  font-size: 14px;
  color: #999999;
}

.hotwords a:hover {
  color: #f10215;
}

.cart {
  width: 188px;
  height: 33px;
  background-color: #fff;
  position: absolute;
  right: 100px;
  top: 25px;
  line-height: 33px;
}

.cart a {
  display: block;
  text-align: center;
  
  color: #f10215;
}

.cart i {
  font-family: "icomoon";
  font-style: normal;
  color: #f10215;
  position: absolute;
  left: 35px;
  top: 2px;

}

.cart span{
  width: 14px;
  height: 14px;
  background-color: #f10215;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 40px;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  text-align: center;
}

.navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
}

.navitems ul {
  float: left;
}

.navitems ul li {
   float: left;
   margin-left: 30px;
}

.navitems li a {
  font-size: 16px;
  color: #555A5F;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  display: block;
}
.navitems li a:hover {
  color: #f10215;
}

.navitems .spacer {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: -10px;  
}

.footer {
  height: 560px;
  background-color: #eaeaea;
}

.footer-service {
  border-bottom: 1px solid #dedede;

}

.footer-service-inner {
  padding: 30px 0;

}

.footer-service-inner li {
  float: left;
  width: 297px;
  height: 42px;
}

.service_unit {
  width: 225px;
  height: 42px;
  margin: 0 auto;
  position: relative;
}

.service_unit h5 {
  width: 36px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  background:  url(../images/ico.png) no-repeat 0 0;
  text-indent: -999px;
  overflow: hidden;
}

.service_unit p {
  line-height: 42px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: 700;
}

.service_unit .kuai {
  background-position: 0 -42px;
}

.service_unit .hao {
  background-position: 0 -86px;
}

.service_unit .sheng {
  background-position: 0 -129px;
}

/* help模块开始 */
 .mod_help {
   padding: 20px 0;
 }

 .mod_help_list {
   overflow: hidden;
   height: 160px;
 }

 .mod_help_nav {

   float: left;
   width: 198px;
   line-height: 22px;

 }

 .mod_help_nav h5 {
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 700;
 }

.mod_help_nav a{
  font-size: 12px;
  color: #666666;
}

.mod_help_nav a:hover {
  color: #c81623;
}
 
.mod_help_cover {
    width: 200px;
    height: 150px;
    float: right;
    background: url(../images/ico_footer.png) no-repeat;
}
.mod_help_cover_con {
  width: 180px;
  height: 52px;
}

.mod_help_cover h5{
    width: 200px;
    height: 21px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;

}

.mod_help_cover info {
  /* padding: 0 10px; */
  width: 180px;
  height: 52px;

}

.mod_help_cover a {
  color: #666;
  float: right;
  font-size: 14px;
}

.mod_help_cover i {
  font-family: "icomoon";
  font-style: normal;
  text-align: center;
  font-size: 14px;

}