body {
    background-color: #f3f5f7;
}

header {
    width: 1590px;
    height: 100px;
    /* background-color: pink; */
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    width: 195px;
    height: 42px;
    /* background-color: purple; */
    float: left;
    margin-right: 45px;
}

.logo a {
    display: block;
    width: 195px;
    height: 42px;
    background: url(../images/logo.png) no-repeat;
    /* 隐藏链接中的文字 */
    text-indent: -999px;
    overflow: hidden;
    
}

.nav {
    float: left;
}

.nav li {
    float: left;

}

.nav li {  

    height: 45px;
    line-height: 45px;
    margin-left: 15px;

}
/* a是行内元素宽高无效，必须将他转换成块级元素 */
.nav li a {

    display: block;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    color: #424342;

}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    width: 410px;
    height: 40px;
    background-color: red;
    float: left;
    margin-left: 370px;
}

.search input {
    width: 360px;
    height: 40px;
    border: 1px solid #00a4ff;
    outline: none;
    float: left;
}

.search button {
    width: 50px;
    height: 40px;
    border: 1px solid #00a4ff;
    float: left;
    background: url(../images/search.jpg) no-repeat;
}

.personal {
    width: 280px;
    height: 42px;
    float: right;
    line-height: 42px;

}
.personal ul li {
    float: left;
    margin-right: 30px;
}
.personal ul:first-child {
    font-size: 14px;
    color: #f3f5f7;
}

.personal .second {
    width: 14px;
    height: 16px;

}

.banner {
    height: 420px;
    background-color:  #1c036c;
    position: relative;
}

.banner-box {
    height: 420px;
    /* background: url(../images/banner.jpg) no-repeat center top; */


}

.banner-box img {
    display: block;
    margin: 0 auto;
    position: relative;
}

.leftnav {
    width: 190px;
    height: 420px;
    /* background-color: pink; */
    position: absolute;
    top: 0;
    left: 360px;
    background-color: rgba(0, 0, 0, 0.2);

}

.leftnav ul li {
    padding:20px 0 0 20px;
    position: relative;
}

.leftnav a {
    font-size: 16px;
    color: #ffffff;  
  
}  


.leftnav a:hover {
    color: #00b4ff;
} 

.leftnav  span {
    position: absolute;
    right: 20px;

    
}

.circle {
    width: 166px;
    height: 20px;
    /* background-color: ; */
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    /* margin-left: -83px; */
    transform: translate(-50%);
    bottom: 30px;
}

.circle ul li {
    margin-left:10px;
    float: left;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255,255, 0.3);
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}

.circle ul li:hover {
    border-radius: 5px;
    width: 20px;
    background-color: #ffffff;
}
 
.schedule {
    width: 230px;
    height: 300px;
    background-color: #ffffff;
    position: absolute;
    right: 356px;
    bottom:64px;
    top: 50%;
    transform: translate(0,-50%);
}

.schedule dt {
    width: 228px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: #9bceea;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.schedule dd {
    padding: 10px 15px;
}

.schedule h5 {
    font-size: 18px;
    color: #5a5a5a;
}

.schedule p {
    color: #ababab;
    font-size: 12px;
}

.schedule li {
    padding-top:10px;
    border-bottom: 1px solid #efefef;
    /* display: block;
    height: 40px;
    line-height: 40px; */
}

.schedule li:last-child {
    border: 0;
}

.schedule a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #00a4ff;
    width: 196px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #00a4ff;
    margin-top: 10px;

}

.recommend {
    width: 1200px;
    height: 60px;
    background-color: #ffffff;
    line-height: 60px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.recommend-list {
    margin-top: 10px;
     
}

.recommend-list strong{
     padding: 30px 20px;
     font-size: 16px;
}
.recommend-list strong:hover {
    color:#00a4ff ;
}
.recommend-list a {
    padding: 30px 25px;
    color: #6d6d6d;
    font-size: 16px;
}

.recommend em {
    position: absolute;
    right:20px;
    color: #00a4ff;
}
.product {
    width: 1200px;
    height: 60px;
    position: relative;
}
.product-header {
    
    position: relative;
}

.product-header h5 {
    display: block;
    font-size: 20px;
    margin-top: 38px;
    margin-bottom: 20px;
}
.product-header a {
    display: block;
    position: absolute;
   
    top: 0;
    right: 25px;
}

.product-list {

}

.product-list li {
    width: 228px;
    height: 272px;
    float: left;
    background-color:#ffffff;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: all 0.3s;
}
.product-list li:hover {
    transform: translate( 0,-10px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.product-list li:nth-child(5n) {
    margin-right: 0;
}

.pic {
    width: 228px;
    height: 156px;
    overflow: hidden;

}

.product-list .title {
    margin: 25px 20px 20px 25px;
}

.product-list .info {
    margin-left: 25px;
    margin-bottom: 28px;
    font-size: 12px;
}

.product-list .info span{
     color: #ff7c2d;
}

footer {
	height: 420px;
	background-color: #FFF;
	margin-top: 30px;
	padding-top: 30px;
}
.footer-l {
	margin-left: 20px;
	float: left;
}
.footer-l p {
	margin: 25px 0 15px 0;
	line-height: 24px;
}
.footer-l a {
	width: 120px;
	height: 35px;
	display: block;
	border: 1px solid #22b0ff;
	text-align: center;
	line-height: 35px;
	color: #22b0ff;
}
.footer-r {
	float: right;
}
.footer-r dl {
	float: left;
	margin-left: 130px;
}
.footer-r dl dt {
	font-size: 14px;
	color: #333;
	height: 30px;
}
.footer-r dd {
	height: 20px;
}