/*先删除默认的内外边距*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;

}

li {
	list-style: none;
}

.header {
	height: 100px;
	background-color: #fff;
}

.inner {
	width: 1200px;
	height: 100px;
	background-color: #fff;
	line-height: 100px;
	margin: 0 auto;
}

.logo {
	float: left;
}

.nav {
	float: right;
}

.nav li {
	float: left;
	margin: 0 20px;
	 
}

.nav li a {
	color: #333333;
	text-decoration: none;
}

.nav li a:hover {
	color: #2288f6;
}

.banner {
	height: 620px;
	background: url(../images/banner.jpg) no-repeat top center;
}

.service {
	width: 1050px;
	height: 660px;
	background-color:#fafafa;
	margin: 75px auto 0;
}

.service-header {
	border-top: 1px solid #cccccc;
	margin: 0 25px;
}

.service-header h3 {
	width: 167px;
	height: 46px;
	margin: -20px auto 0;
}

.service-header p {
	width: 850px;
	font-size: 12px;
	margin: 0 auto;
	color: #666666;
	line-height: 26px;
	text-align: center;
}